In [1]:
# Import dependencies
import pandas as pd
import os

In [2]:
file_path = ['trip_data/JC-201801-citibike-tripdata.csv',
        'trip_data/JC-201802-citibike-tripdata.csv',
        'trip_data/JC-201803-citibike-tripdata.csv']

In [3]:
citibike_df = pd.DataFrame()

In [4]:
# Loop through the list of files and concatonate all data to the dataframe
for file in file_path:
    data = pd.read_csv(file)
    citibike_df = pd.concat([citibike_df, data], axis=0, ignore_index=True)

In [5]:
citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44885,239,2018-03-30 21:24:17.9440,2018-03-30 21:28:17.7570,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,29616,Subscriber,1990,1
44886,364,2018-03-31 00:45:26.4970,2018-03-31 00:51:31.4750,3640,Journal Square,40.733670,-74.062500,3212,Christ Hospital,40.734786,-74.050444,26228,Subscriber,1986,2
44887,336,2018-03-31 07:38:32.7490,2018-03-31 07:44:09.0950,3640,Journal Square,40.733670,-74.062500,3207,Oakland Ave,40.737604,-74.052478,31954,Subscriber,1971,1
44888,194,2018-03-31 12:08:09.5080,2018-03-31 12:11:23.7180,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,29491,Subscriber,1963,1
44889,290,2018-03-31 19:54:45.0990,2018-03-31 19:59:35.3650,3640,Journal Square,40.733670,-74.062500,3207,Oakland Ave,40.737604,-74.052478,31681,Subscriber,1989,1

In [6]:
# Check for missing values in each column
missing_values = citibike_df.isnull().sum()
print(missing_values)

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [7]:
# Store the dataframe as CSV file
citibike_df.to_csv('trip_data/2018jc_data.csv', index=False)

In [8]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44890 entries, 0 to 44889
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             44890 non-null  int64
 1   starttime                44890 non-null  object
 2   stoptime                 44890 non-null  object
 3   start station id         44890 non-null  int64
 4   start station name       44890 non-null  object
 5   start station latitude   44890 non-null  float64
 6   start station longitude  44890 non-null  float64
 7   end station id           44890 non-null  int64
 8   end station name         44890 non-null  object
 9   end station latitude     44890 non-null  float64
 10  end station longitude    44890 non-null  float64
 11  bikeid                   44890 non-null  int64
 12  usertype                 44890 non-null  object
 13  birth year               44890 non-null  int64
 14  gender                   44890 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.1+ MB